.btn-mint {
    --bs-btn-color: #fff;
    --bs-btn-bg: #52B788;
    --bs-btn-border-color: #52B788;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2D6A4F;
    --bs-btn-hover-border-color: #1B4332;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1B4332;
    --bs-btn-active-border-color: #2D6A4F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #52B788;
    --bs-btn-disabled-border-color: #52B788;
}

.btn-red {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D00000;
    --bs-btn-border-color: #6a040f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6a040f;
    --bs-btn-hover-border-color: #6a040f;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6a040f;
    --bs-btn-active-border-color: #6a040f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #D00000;
    --bs-btn-disabled-border-color: #D00000;
}