<!DOCTYPE html>
<html>
<head>
    <title>Создание теста</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<h1>Создание теста:</h1>
<form method="post">
    <label for="title">Название теста:</label>
    <input type='text' name='title' id='title' value=''><br><br>
    <label for="info">Описание теста:</label>
    <input type='text' name='info' id='info' value=''><br><br>

    <label for="title">Тип теста:</label>
    <select id="privacy" name="privacy">
        <option value="0">Открытый</option>
        <option value="1">По приглашению</option>
        <option value="2">Закрытый</option>
    </select>

    <div id="tasks-container">
        <div class="task" id="task-1">
            <h3>Задание 1:</h3>
            <label for="type-1">Тип задания:</label>
            <select id="type-1" name="type-1" onchange="showFields(1)">
                <option value="1">Plain text</option>
                <option value="2">Single choice</option>
                <option value="3">Multiple choice</option>
            </select>
            <div id="task-data-1">
                <input type='text' name='question-1' value=''><br>
                <input type='text' name='field-1' value=''><br>
            </div>
        </div>
    </div>
    <button type="button" id="add-task">Добавить задание</button>
    <button type="submit" id="create-test">Создать тест</button>
</form>

<script>
    function showFields(taskNum) {
        var dropdown = document.getElementById("type-" + taskNum);
        var value = dropdown.options[dropdown.selectedIndex].value;
        var taskData = document.getElementById("task-data-" + taskNum);
        taskData.innerHTML = "";
        // В зависимости от выбранного типа задачи делаем тело вопроса
        if (value == 1) {
            taskData.innerHTML = "<input type='text' name='question-" + taskNum + "' value=''><br>"
                + "<input type='text' name='field-" + taskNum + "' value=''><br>";
        } else if (value == 2) {
            taskData.innerHTML = "<input type='text' name='question-" + taskNum + "' value=''><br>"
                + "<input type='radio' name='answer-" + taskNum + "' value='1'> <input type='text' name='option-" + taskNum + "-1' value=''> <br>"
                + "<input type='radio' name='answer-" + taskNum + "' value='2'> <input type='text' name='option-" + taskNum + "-2' value=''> <br>"
                + "<input type='radio' name='answer-" + taskNum + "' value='3'> <input type='text' name='option-" + taskNum + "-3' value=''> <br>";
        } else {
            taskData.innerHTML = "<input type='text' name='question-" + taskNum + "' value=''><br>"
                + "<input type='checkbox' name='answer-" + taskNum + "-1' value='1'> <input type='text' name='option-" + taskNum + "-1' value=''> <br>"
                + "<input type='checkbox' name='answer-" + taskNum + "-2' value='2'> <input type='text' name='option-" + taskNum + "-2' value=''> <br>"
                + "<input type='checkbox' name='answer-" + taskNum + "-3' value='3'> <input type='text' name='option-" + taskNum + "-3' value=''> <br>";
        }
    }
</script>

<script>
    var tasksCount = 1;
    var tasksContainer = document.getElementById('tasks-container');
    var addButton = document.getElementById('add-task');
    addButton.addEventListener('click', function() {
        var task = document.createElement('div');
        task.id = 'task-' + (++tasksCount);
        task.className = 'task';
        task.innerHTML = '<h3>Задание ' + tasksCount + ':</h3>' +
            '<label for="type-' + tasksCount + '">Тип задания:</label>' +
            '<select id="type-' + tasksCount + '" name="type-' + tasksCount + '" onchange="showFields(' + tasksCount + ')">' +
                '<option value="1">Plain text</option>' +
                '<option value="2">Single choice</option>' +
                '<option value="3">Multiple choice</option>' +
            '</select>' +
            '<div id="task-data-' + tasksCount + '">' +
            '<input type=\'text\' name=\'question-' + tasksCount + '\' value=\'\'><br>' +
            '<input type=\'text\' name=\'field-' + tasksCount + '\' value=\'\'><br>' +
            '</div>';

        tasksContainer.appendChild(task);
    });
</script>
</body>
</html>