<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://sun9-22.userapi.com/impg/V44J86dp2fuFXcrbfWtUVoFe-hzabtsqlYuUzQ/ITdaoFPjMnI.jpg?size=750x724&quality=96&sign=b01e580da1e4778f58f18bd9dab0776f&type=album"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3" th:text="${user.getName()}">username</h5>
                        <p class="text-muted mb-4">description</p>
                        <div class="d-flex justify-content-center mb-2">
                            <!--
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                            -->
                        </div>
                    </div>
                </div>

                <!--
                <div class="card mb-4 mb-lg-0">
                  <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                      <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <i class="fas fa-globe fa-lg text-warning"></i>
                        <p class="mb-0">https://mdbootstrap.com</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                        <p class="mb-0">mdbootstrap</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                        <p class="mb-0">@mdbootstrap</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                        <p class="mb-0">mdbootstrap</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                        <p class="mb-0">mdbootstrap</p>
                      </li>
                    </ul>
                  </div>
                </div>
                -->
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Полное имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"
                                   th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"> full name </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Почта</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${user.getEmail()}"> email </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Телефон</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Статистика по тегам</span>
                                </p>
                                <div class="col" th:each="tag : ${tags}">
                                    <p class="mt-4 mb-1" style="font-size: .77rem;" th:text="${tag.getTag().getName()}"></p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" th:style="'width:' + ${tag.getPercent()} + '%'" aria-valuenow="80"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- блок с доступными вариантми -->

    <section class="py-5 text-center container">
        <div class="row py-lg-0">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Созданные мной тесты</h1>
            </div>
        </div>
    </section>

</section>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="form : ${forms}">
            <div class="card shadow-sm">
                <!--
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em"> Добивим возможность вставлять картинки?
                    </text>
                </svg>
                -->
                <div class="card-header justify-content-between align-items-center">
                    <p class="center" th:text="${form.name}"></p>
                    <a th:href="@{/form/{id}(id=${form.id})}" class="btn btn-lg btn-primary btn-block">
                        Solve
                    </a>
                    <a th:href="@{/form/{id}/responses(id=${form.id})}" class="btn btn-lg btn-primary btn-block">
                        Answers
                    </a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal"
                            th:attr="data-target='#inviteModal'+*{form.id}">
                        Invite
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="*{'inviteModal'+form.id}" tabindex="-1" role="dialog"
                         aria-labelledby="inviteModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="inviteModalTitle">Invite student</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/inviteStudent" method="post">
                                        <div class="form-group">
                                            <label>Form id</label> <input type="text"
                                                                          th:value="*{form.id}" class="form-control"
                                                                          name="id" readonly>
                                            <label>Student's name</label> <input type="text"
                                                                                 name="username" class="form-control">
                                            <br>
                                            <button type="submit" class="btn btn-primary">submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text" th:text="${form.info}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="py-5 text-center container">
    <div class="row py-lg-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Доступные для решения тесты</h1>
        </div>
    </div>
</section>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="form : ${formsToSolve}">
            <div class="card shadow-sm">
                <!--
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em"> Добивим возможность вставлять картинки?
                    </text>
                </svg>
                -->
                <div class="card-header justify-content-between align-items-center">
                    <p class="center" th:text="${form.name}"></p>
                    <a th:href="@{/form/{id}(id=${form.id})}" class="btn btn-lg btn-primary btn-block">
                        Solve
                    </a>
                    <a th:href="@{/form_response/{id}(id=${form.id})}" class="btn btn-lg btn-primary btn-block">
                        Response
                    </a>
                    <div class="card-body">
                        <p class="card-text" th:text="${form.info}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script src=”https://code.jquery.com/jquery-3.2.1.slim.min.js”
        integrity=”sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN”
        crossorigin=”anonymous”></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js
        integrity=”sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q”
        crossorigin=”anonymous”></script>
<script src=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js”
        integrity=”sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl”
        crossorigin=”anonymous”></script>

</body>
</html>