<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="form : ${forms}">
            <div class="card shadow-sm">
                <!--
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em"> Добивим возможность вставлять картинки?
                    </text>
                </svg>
                -->
                <div class="card-header justify-content-between align-items-center">
                    <p class="center" th:text="${form.name}"></p>
                    <a th:href="@{/form/{id}(id=${form.id})}" class="btn btn-lg btn-primary btn-block">
                        Solve
                    </a>
                    <a th:href="@{/form/{id}/responses(id=${form.id})}" class="btn btn-lg btn-primary btn-block">
                        Answers
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${form.info}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>