<div class="card shadow-sm" th:fragment="inner-task">
    <div class="card-body">
        <p class="card-text bold align-items-center" th:text="${task.title + ' #' + task.id}"></p>
        <div class="d-flex justify-content-between align-items-center">
            <div th:if="${task.standalone == true}" class="btn-group">
                <a type="button"
                   th:href="@{/task/{id}(id=${task.id})}"
                   class="btn btn-sm btn-outline-secondary">
                    Подробнее
                </a>
            </div>

            <div>
                <div class="form-check" th:each="option, iter : ${task.getMultiChoice().separatedOptions()}">
                    <input class="form-check-input"
                           type="checkbox"
                           th:form="${'form' + form.id}"
                           th:value="${iter.index + 1}"
                           th:id="${'task' + task.id + option}"
                           th:name="${'task' + task.id + '_' + (iter.index + 1)}">
                    <label class="form-check-label" th:for="${'task' + task.id + option}" th:text="${option}">
                    </label>
                </div>
            </div>

            <small class="text-muted"> Content isn't created by UNITS </small>
        </div>
        <div class="card-footer">
            <a type="button" class="btn btn-sm btn-outline-secondary" th:each="tag : ${task.tags}">
                <span th:text="${tag.name}"></span>
            </a>
        </div>
    </div>
</div>