<div class="card shadow-sm" th:fragment="standalone-task">
    <div class="card-body">
        <p class="card-text bold align-items-center" th:text="${task.title + ' #' + task.id}"></p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button"
                        th:onclick="'location.href= \'' + @{/task/{id}(id=${task.getId()})} + '\''"
                        class="btn btn-sm btn-outline-secondary">
                    Подробнее
                </button>
            </div>
            <a th:text="${task.body}"/>
            <small class="text-muted">Content isn't created by UNITS</small>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" th:each="tag : ${task.tags}">
            <span th:text="${tag.name}"></span>
        </button>
    </div>
</div>
